@import './mixins';

html {
    font-size: large;
}

html, body, .App {
    min-height: 100vh;
}

.App {
    display: grid;
    grid-template-rows: auto 1fr;
    align-items: center;
}

main {
    @include center-content;
}

button {
    padding: 0.5em 1em;
}

.info {
    font-size: smaller;
}

$warning-color: #f00;

.warning {
    color: $warning-color;
    font-weight: bold;
}