@import './mixins';

.login-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    gap: 1em;
}

.login-form,
.signup-form {
    flex: 30ch 0 1;
    @include rounded-border;
    display: flex;
    flex-direction: column;
    gap: 1em;

    h2 {
        text-align: center;
    }

    label {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 1ch;

        > input {
            flex-grow: 1;
        }
    }

    button {
        width: fit-content;
        margin-top: auto;
        align-self: center;
    }
}